*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Global*/
  --white: hsl(0, 100%, 100%);

  /*Theme 1*/
  --theme1-main-bg: hsl(222, 26%, 31%);
  --theme1-toggle-bg: hsl(223, 31%, 20%);
  --theme1-screen-bg: hsl(224, 36%, 15%);
  --theme1-key-bg: hsl(225, 21%, 49%);
  --theme1-key-shadow: hsl(224, 28%, 35%);
  --theme1-toggle-key-bg: hsl(6, 63%, 50%);
  --theme1-navy-txt: hsl(221, 14%, 31%);

  /*Theme 2*/
  --theme2-main-bg: hsl(0, 0%, 90%);
  --theme2-toggle-bg: hsl(0, 5%, 81%);
  --theme2-screen-bg: hsl(0, 0%, 93%);
  --theme2-key-bg: hsl(185, 42%, 37%);
  --theme2-key-shadow: hsl(185, 58%, 25%);
  --theme2-toggle-key-bg: hsl(25, 98%, 40%);
  --theme2-toggle-key-shw: hsl(25, 99%, 27%);
  --theme2-grey-txt: hsl(60, 10%, 19%);

  /*Theme 3*/
  --theme3-main-bg: hsl(268, 75%, 9%);
  --theme3-toggle-bg: hsl(268, 71%, 12%);
  --theme3-screen-bg: hsl(268, 71%, 12%);
  --theme3-key-bg: hsl(281, 89%, 26%);
  --theme3-key-shadow: hsl(285, 91%, 52%);
  --theme3-toggle-key-bg: hsl(176, 100%, 44%);
  --theme3-toggle-key-shw: hsl(177, 92%, 70%);
  --theme3-ylw-txt: hsl(52, 100%, 62%);
  --theme3-blue-txt: hsl(198, 20%, 13%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: var(--theme1-main-bg);
  padding-block: 1rem;
}

.main {
  width: 85%;
  max-width: 1000px;
  margin-inline: auto;
  min-height: 100vh;
}

.title-section {
  display: flex;
  justify-content: space-between;
  padding-top: 1.7rem;
  padding-left: 0.4rem;
  position: relative;
}

.title-section h1 {
  color: var(--white);
  font-weight: 700;
  margin-top: 0.7rem;
}

.theme-txt {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  right: 30%;
  bottom: 7%;
}

.selectors {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.4rem;
}

.theme-selector-div a {
  font-size: 13px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.theme-switch-div {
  padding-inline: 0.38rem;
  min-width: 4rem;
  padding-block: 0.3rem;
  position: relative;
  display: flex;
  justify-content: start;
  border-radius: 10px;
  background-color: var(--theme1-toggle-bg);
}

.theme-switch {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: block;
  background-color: var(--theme1-toggle-key-bg);
}

.screen {
  background-color: var(--theme1-screen-bg);
  margin-top: 2.1rem;
  padding-block: 2.6rem;
  padding-left: 2rem;
  /* display: flex;
  justify-content: end; */
  position: relative;
  border-radius: 10px;
}

.screen p {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  top: 18px;
  right: 20px;
}

.button-section {
  background-color: var(--theme1-screen-bg);
  margin-top: 1.8rem;
  padding-block: 1.2rem;
  /* width: 88%;
  max-width: 500px;
  margin-inline: auto; */
}

.buttons-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 0.8rem;
  padding-inline: 1.2rem;
}

.btns {
  border: none;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 8px;
}

.reset-btn {
  font-weight: 700;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  padding: 15px 0;
  font-size: 17px;
  grid-column: 1 / 3;
}

.equal-btn {
  font-weight: 700;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  padding: 15px 0;
  grid-column: 3 / 5;
}
