*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Global*/
  --white: hsl(0, 100%, 100%);
  
  /*Theme 1*/
  --theme1-main-bg: hsl(222, 26%, 31%);
  --theme1-toggle-bg: hsl(223, 31%, 20%);
  --theme1-screen-bg: hsl(224, 36%, 15%);
  --theme1-key-bg: hsl(225, 21%, 49%);
  --theme1-key-shadow: hsl(224, 28%, 35%);
  --theme1-toggle-key-bg: hsl(6, 63%, 50%);
  --theme1-navy-txt: hsl(221, 14%, 31%);
  
  /*Theme 2*/
  --theme2-main-bg: hsl(0, 0%, 90%);
  --theme2-toggle-bg: hsl(0, 5%, 81%);
  --theme2-screen-bg: hsl(0, 0%, 93%);
  --theme2-key-bg: hsl(185, 42%, 37%);
  --theme2-key-shadow: hsl(185, 58%, 25%);
  --theme2-toggle-key-bg: hsl(25, 98%, 40%);
  --theme2-toggle-key-shw: hsl(25, 99%, 27%);
  --theme2-grey-txt: hsl(60, 10%, 19%);
  
  /*Theme 3*/
  --theme3-main-bg: hsl(268, 75%, 9%);
  --theme3-toggle-bg: hsl(268, 71%, 12%);
  --theme3-screen-bg: hsl(268, 71%, 12%);
  --theme3-key-bg: hsl(281, 89%, 26%);
  --theme3-key-shadow: hsl(285, 91%, 52%);
  --theme3-toggle-key-bg: hsl(176, 100%, 44%);
  --theme3-toggle-key-shw: hsl(177, 92%, 70%);
  --theme3-ylw-txt: hsl(52, 100%, 62%);
  --theme3-blue-txt: hsl(198, 20%, 13%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--theme1-screen-bg);
  padding-top: 2rem;
  
}

.main {
  width: 90%;
  max-width: 1000px;
  margin-inline: auto;
  height: 100px;
  background: var(--theme1-main-bg);
}